name: Download NYC TLC Yellow Parquet

on:
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests python-dateutil azure-storage-blob


      - name: Run downloader
        env:
          STORAGE_ACCOUNT_URL: ${{ secrets.STORAGE_ACCOUNT_URL }}
          STORAGE_CONTAINER: ${{ secrets.STORAGE_CONTAINER }}
          STORAGE_ACCOUNT_KEY: ${{ secrets.STORAGE_ACCOUNT_KEY }}
          DELETE_EXISTING: "no"
        run: |
          python scripts/download_yellow_parquet.py

